<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to RESTful routes example's homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vitae laboriosam voluptas optio fugiat odit
        nobis enim distinctio! Iusto vero et dolore repudiandae hic atque, sequi laboriosam itaque doloribus quo?
        Libero ea quasi ullam architecto, nesciunt a non quo soluta magni assumenda necessitatibus labore iusto sapiente
        inventore quas consequatur temporibus ex at quisquam. Molestias sint neque iure, doloremque dignissimos
        corporis.
        Rerum, asperiores porro harum ea vel temporibus fugit, quaerat cumque officia error iusto culpa voluptas quae
        voluptate? Impedit vel corporis, dolor, minima labore quae debitis maiores tempora sapiente maxime consequuntur!
        Accusamus voluptatem nesciunt laboriosam excepturi facere placeat corrupti provident ipsum minima asperiores
        recusandae cumque ad, dolore eligendi exercitationem aliquid illo sint dolorum odit saepe. Labore odio quam
        iusto obcaecati culpa?
        Voluptates voluptatem, dignissimos libero iusto, voluptas perferendis qui at incidunt optio aperiam impedit
        explicabo? Temporibus facilis vel optio ipsam? Facere alias expedita possimus doloribus provident voluptatem eos
        modi ut eius.
        Explicabo, vero obcaecati. Libero laborum ipsa totam quisquam excepturi at, error sit nostrum minus ad dicta nam
        consequatur harum, quas velit dolores cupiditate quia repellendus similique rerum distinctio tempore! Esse?
        Voluptates earum modi provident omnis commodi aperiam cumque natus, corrupti mollitia quos optio ratione dicta
        dolores expedita iusto consequatur repudiandae magni maiores ut veniam quidem blanditiis minima? Similique,
        illum quasi?
        Veniam tempora quo aut perferendis voluptatem suscipit error eligendi molestias. Magnam iure obcaecati voluptas
        ipsam, autem veniam in? Atque ut vero nobis, sed dolorum molestiae saepe iure voluptatum rem recusandae.
        Totam rerum sunt debitis quod corrupti, fugiat eius quae quibusdam non dicta quidem, porro maiores! Dolorum
        iusto officia quasi rerum, quod esse, corporis quam iste odit sed placeat doloremque. Illo.
        Reprehenderit sequi, quaerat necessitatibus molestias numquam consectetur accusantium vitae quisquam quasi
        doloremque dolores qui sit pariatur porro quis! Ratione, ducimus quae voluptatibus laboriosam quis unde soluta
        reprehenderit doloribus quam libero!</p>
    <form action="/comments">
        <button>Go to comments section</button>
    </form>
</body>

</html>